<ion-tabs selectedIndex="1">
  <ion-tab [root]="tab1Root" tabTitle="Paramètres" tabIcon="settings"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Carte" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Stations préférées" tabIcon="heart"></ion-tab>
</ion-tabs>
