<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ station.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider>
      Informations
    </ion-item-divider>
    <ion-item>
      Vélos disponibles
      <ion-note item-right>
        {{ station.availableBikesNumber }}
      </ion-note>
    </ion-item>
    <ion-item>
      Emplacements disponibles
      <ion-note item-right>
        {{ station.availableBikeStandsNumber }}
      </ion-note>
    </ion-item>
    <ion-item>
      Total d'emplacements
      <ion-note item-right>
        {{ station.totalBikeStandsNumber }}
      </ion-note>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      Emplacement
    </ion-item-divider>
    <ion-item>
      {{ station.address }}
    </ion-item>
    <ion-item>
      {{ station.town }}
    </ion-item>
  </ion-item-group>
  <div padding>
    <button ion-button block (click)="handleFavorite($event)">
      {{ favoriteText }}
    </button>
    <button ion-button block (click)="dismiss($event)">
      Fermer
    </button>
  </div>
</ion-content>
