<ion-header>
  <ion-navbar>
    <ion-title>Paramètres</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Intervalle de synchronisation</ion-label>
      <ion-select (ionChange)="onSyncIntervalChange($event)" [(ngModel)]="syncInterval" cancelText="Annuler">
        <ion-option value="0">Désactivé</ion-option>
        <ion-option value="1">1 minute</ion-option>
        <ion-option value="5">5 minutes</ion-option>
        <ion-option value="10">10 minutes</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
