<ion-header>
  <ion-navbar>
    <ion-title>
      Carte
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  <ion-fab right bottom>
    <button ion-fab mini (click)="locateMe($event)">
      <ion-icon name="locate"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
