<ion-header>
  <ion-navbar>
    <ion-title>
      Stations préférées
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pulllingText="Tirer pour actualiser"
      refreshingSpinner="circles"
      refreshingText="Actualisation"
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let station of favoriteStationsList">
      <button ion-item (click)="itemClicked($event, station.id)">
        <ion-icon [name]="availabilityIcons[station.availability]" [color]="availabilityColors[station.availability]" item-left></ion-icon>
        <ion-note item-right>
          {{ station.availableBikesNumber }} / {{ station.totalBikeStandsNumber }}
        </ion-note>
        <h2>{{ station.name }}</h2>
        <h3>{{ station.town }}</h3>
        <p>
          {{ station.address }}
        </p>
      </button>
      <ion-item-options side="left">
        <button ion-button (click)="showDetails($event, station.id)">
          <ion-icon name="information-circle"></ion-icon>
          Détails
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="unfavoriteStation($event, station.id)">
          <ion-icon name="trash"></ion-icon>
          Enlever
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item *ngIf="favoriteStationsList && favoriteStationsList.length == 0">
      <p>
        Vous n'avez aucune station dans vos favoris.
      </p>
    </ion-item>
  </ion-list>
</ion-content>
